body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 2em;
}

html {
  scroll-behavior: smooth;
}

.imagebackground  {
  background-color: #2c2f33;
  background-image: url("https://cdn.glitch.com/b2a48499-dec5-4ba6-898e-ec1e602d6eb9%2Fpattern.png?1554544372894");
}

b,p,a   {color: white; text-decoration: none;}
a  {cursor: pointer;}
img  {border-radius: 10px; cursor: pointer;}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.subbody  {
  background-color: transparent;
  margin-left: auto;
  width: 80%;
}

.fullsize  {
    background-color: rgba(44, 47, 51, 0.5);
    border: rgba(35, 39, 42, 0.95) 2px solid;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
}

.pageicon  {
    height: 75%;
    border-radius: 0px;
    left: 5px;
    top: 5px;
    position: absolute;  
}

.popup,
.serverinvite,
.button {
    background-color: rgba(35, 39, 42, 0.75);
    border-left: #7289DA 2px solid;
    border-radius: 0px;
    padding: 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: transform .25s ease;
}

.popup:hover,
a.button:hover {
    border-left: #8094dd 4px solid;
    cursor: pointer;
    transform: scale(0.99);
}

.textbackground  {
    background-color: rgba(35, 39, 42, 0.95);
    border-radius: 5px;
    padding: 15px;
    display: inline-block; 
}

.inlinediv  {
    background-color: rgba(35, 39, 42, 0.5);
    padding: 15px;

    overflow: scroll;
    flex-direction: initial;
    flex-shrink: 0;
    display: flex; 

    text-align: left;
}

.close  {  
    background-color: rgba(100, 0, 0, 0.75);
    border-radius: 25px;
    padding: 5px;
}

.show  {  
    background-color: rgba(0, 100, 0, 0.75);
    border-radius: 25px;
    padding: 5px;
}


.highlighted  {  
    color: #7289DA;
}

.messageheader  {
    background-color: orange;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.displayitem  {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #2C2F33;
    border: rgba(35, 39, 42, 1) 2px solid;
    border-radius: 5px;
    width: 225px;
    height: 225px;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    position: relative;
    transition: transform .25s ease;
}  

.displayitem:hover  {
    transform: scale(0.985);
}
  
.displayname  {
    text-align: center;
    background-color: rgba(35, 39, 42, 0.9);
    border-bottom: rgba(35, 39, 42, 0.9) 2px solid;
    border-top: rgba(35, 39, 42, 0.9) 2px solid;
    width: 100%;
    padding: 5px;
    position: absolute;
    top: 40%;
    display: inline-block;
}

.item_header  {
    background-color: rgba(35, 39, 42, 0.9);
    width: 100%;
    padding: 10px;
    position: relative;
    display: inline-block;
}

.listitem  {
    background-color: #7289DA;
    background-position: center;
    border: rgba(35, 39, 42, 1) 2px solid;
    border-radius: 0px;
    background-size: cover;
    width: 400px;
    height: 300px;
    flex-shrink: 0;
    padding: 10px 10px;
    margin: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
  
.textlistitem {
    background-color: rgba(35, 39, 42, 0.85);
    border-top: rgba(35, 39, 42, 0.69) 2px solid;
    border-radius: 0px;
    width: 100%;
    height: 40px;
    bottom: 0px;
    right: 0;
    position: absolute;
    display: inline-block;
}
  
.textlistitem .name { 
    background-color: rgba(35, 39, 42, 0.85);
    border-top: rgba(35, 39, 42, 0.69) 2px solid;
    border-bottom: rgba(35, 39, 42, 0.69) 2px solid;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
  
    font-size: 15px;
  
    top: -40px;
    left: 0px;
    position: absolute;
    display: inline-block;
    text-align: left;

    transition: transform .25s ease;
}
  
.textlistitem .first,
.textlistitem .second {
    background-color: #7289DA;
    border-radius: 5px;
    padding: 7px;
    width: 75px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    display: inline-block;
}
  
.textlistitem .first {
    top: 5px;
    left: 5px;
}
  
.textlistitem .second {
    top: 5px;
    right: 5px;
}

.textlistitem  .purchase:hover,
.textlistitem  .info:hover {
    background-color: #8094dd;
}
  
.textlistitem .price {  
    padding: 7px;
  
    font-size: 10px;
  
    top: -37px;
    right: 0px;
    position: absolute;
    display: inline-block;
}

.headertext,
.headersub,
.category_name  {
    background-color: rgba(35, 39, 42, 0.75);
    border-left: #7289DA 2px solid;
    text-align: left;
  
    padding: 10px;
    padding-left: 25px;
    width: 100%;
    color: white;
    
    display: inline-block;
}

.middletext  {
    left: 0;
    position: absolute;
    top: 40%;
    width: 100%;
}

.demo {
    background-image: url('https://cdn.glitch.com/b2a48499-dec5-4ba6-898e-ec1e602d6eb9%2Fpattern_assets.png?v=1554545063162');
    background-color: rgba(35, 39, 42, 1);
    border: rgba(35, 39, 42, 1) 4px solid;
    text-shadow: 1px 1px black;
    padding: 10px;
    width: 100%;
    height: 90%;
    left: 0%;
    bottom: 8.25%;
    position: fixed;
    cursor: pointer;
    z-index: 99;
    overflow: scroll;
}

.demo  img {
    background-color: rgba(35, 39, 42, 0.5);
    border: transparent;
    border-left: #7289DA 2px solid;
    border-radius: 0px;
}

.demo  img:hover {
    border-left: #8094dd 4px solid;
}

.demopreview  {
    height: 200px;
    border: rgba(35, 39, 42, 0.95) solid;
    transition: transform .25s ease;
    vertical-align: middle;
}

.demopreview:hover  {
    transform: scale(0.975);
}

.demoitemdesc  {
    background-color: rgba(35, 39, 42, 0.5);
    border-left: #7289DA 2px solid;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    transition: transform .25s ease;
}

.demoitemdesc:hover  {
    border-left: #8094dd 4px solid;
    cursor: pointer;
    transform: scale(0.99);
}

#descbutton  {
    background-color: rgba(35, 39, 42, 1);
    width: 45px;
    padding: 10px;
    right: 15px;
    top: 14px;
  
    position: absolute;
    transition: transform .25s ease;
}

#descbutton:hover  {
    color: red;
    transform: scale(0.95);
    cursor: pointer;
}

#strechimg  {
  background-size: 100%;
}

.badge_text,
.background_text {
    font-size: 100%;
}

.img_border {

    border-radius: 25px;
    border-color: #2c2f33;
    
}

.homepagebtn  {
    vertical-align:middle;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.peey_homebutton,
.peeky_icon,
.img_badge {
    display: inline-block;
    transition: transform .25s ease;
}

.peeky_icon:hover  {
    transform: scale(0.99);
}

.thumbnail  {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: rgba(35, 39, 42, 0.95) solid;
    border-radius: 5px;
}

.table_description {
    width: 100%;
    padding: 10px;
    position: relative;
    display: inline-block;
    background-color: rgba(35, 39, 42, 0.9);
    border: rgba(35, 39, 42, 0.9) solid;
    border-bottom: transparent;
}

.table_description:hover {
    cursor: pointer;
}

.tutorial_item  {
    text-align: left;
    padding: 10px;
}

.tutorial_item,
table {
    width: 100%;
    background-color: rgba(35, 39, 42, 0.5);
    border: rgba(35, 39, 42, 0.9) solid;
    text-shadow: 1px 1px black; color: white;
}

table:hover {
    cursor: pointer;
}

th {
    height: 50px;
    text-align: left;
}

td {
    background-color: rgba(35, 39, 42, 0.5);
    border: rgba(35, 39, 42, 0.9) solid;
    height: 50px;
    vertical-align: middle;
}

th, td {
    color: white;
    padding: 15px;
    text-align: left;
}

.div_background {
    text-align: left;
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    background-color: #23272A;
    border-color: #2C2F33;
    border-radius: 10px;
}

.badges_item {
    text-align: left;
}

.line {
    padding: 1px;
    width: 100%;
    background-color: rgba(114, 137, 218, 1);
    border-radius: 50px;

}

.card {
    background-color: transparent /*#7289da*/;
    display: inline-block;
    transition: transform .25s ease;
    opacity: 1;
}

.cardImage {
    display: inline-block;
    border: 4px solid;
    border-color: #23272a;
    border-radius: 5%;  
}

.card:hover {
    transform: scale(1.035);
    opacity: 1;
    cursor: pointer;
}

.card_text {
    opacity: 0;
    display: inline-block;
}

.card:hover .card_text {
    opacity: 1;
}

.profile_tab {
  
    position: relative;
    padding: 10px 10px;
    text-align: left;
    color: white;
    opacity: 1;
    height: 700px;
  
}

.profile_pfp {
  
    border: 4px solid;
    background-color: #23272A;
    border-color: #2C2F33;
    border-radius: 5%;  
  
}

.HomeHyperlinks {
    text-decoration: underline;
    padding: 1px 1px;
    text-shadow: 1px 1px black;
}

.container {
    transition: transform .25s ease;
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    transform: scale(1);
}

.container:hover {
    z-index: 1;
    transform: scale(0.975);
    cursor: pointer;
}

.badge_centered {
    position: absolute;
    opacity: 0;
    padding: 10px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.profile_centered {
    position: absolute;
    top: 5%;
    left: 350px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    background-color: rgba(35, 39, 42, 0.75);
    border-left: #7289DA 2px solid;
    padding: 10px;
    width: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidenav {
    background-color: rgba(44, 47, 51, 0.75);
    border-right: rgba(35, 39, 42, 0.95) 2px solid;
    overflow: scroll;
    text-shadow: 1px 1px black;
    padding: 10px;
    position: fixed;
    left: 0%;
    bottom: 0%;
    z-index: 99;
    width: 20%;
    height: 100%;
}

.topnav {
    background-color: rgba(44, 47, 51, 1);
    border-top: rgba(35, 39, 42, 0.95) 2px solid;
    padding: 10px;
    position: fixed;
    text-align: left;
    z-index: 100;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 67px;
}

.sidenav a {
    width: 90%;
    text-align: center;
}

.topnav a  {
    width: 200px;
    margin-right: 10px;
    text-align: center;
}

.floating {  
    transition:width 0.5s ease;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

#ActiveButton {
  
    position: relative;
    display: inline-block;
    cursor: pointer;   
    text-decoration: none;
    background-color: #2c2f33;
    transition: transform .25s ease;
  
}

::-webkit-scrollbar {
    background: transparent;  
    width: 10px;
    z-index: 11;
}

::-webkit-scrollbar-thumb {
    background: #23272A;
    border-radius: 5px;
    z-index: 11;
}

::-webkit-scrollbar-corner  {
   background: transparent;
}